<table role="presentation" class="es-header-body" align="center" cellpadding="0" cellspacing="0"
       width="540">
    <tbody>
    <tr>
        <td>
            <table class="es-content-body" align="center" cellpadding="0"
                   cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td class="esd-structure es-p30t es-p20b es-p20r es-p20l" align="left">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="esd-container-frame" align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            class="esd-block-text es-p10b es-m-txt-c">
                                                            <div style="width: 70%; height: 2px; margin-top: 8px; margin-bottom: 2rem; background: black; opacity: .1;"></div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            class="esd-block-text es-p10b es-m-txt-c">
                                        <span class="es-button-border" style="background: #126CE5;">
                                            <a class="es-button es-button-1637595939720"
                                               style="font-weight: bold; border-width: 10px 30px; background: #126CE5; border-color: #126CE5; border-radius: 3px; color:white; padding: 8px 16px;text-decoration: none;"
                                               target="_blank" href="mailto:{{emailContact}}">Nous contacter 📝</a>
                                        </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td style="color:#33475B;" align="center"
                                                            class="esd-block-text es-p5t es-p5b">
                                                            <p style="font-size: 14px; margin: 2px">Numéro
                                                                de Siret : {{siret}}
                                                            <p style="font-size: 14px; margin: 2px">
                                                                <a target="_blank"
                                                                   style="text-decoration: underline; color:#33475B;"
                                                                   href="mailto:{{emailContact}}">{{emailContact}}</a>
                                                                - <a
                                                                    style="font-weight: bolder; color:#33475B;"
                                                                    href="sms:{{phoneContact}}">{{phoneContact}}</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            class="esd-block-text es-p5t es-p5b">
                                                            <p style="font-size: 14px; margin-top: 1rem">
                                                                <a target="_blank" style="color:#33475B;"
                                                                   href="{{url}}">Notre
                                                                    site</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>